services:
  - type: web
    name: portfolio
    env: python
    plan: free
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt
      python manage.py collectstatic --noinput || true
    startCommand: sh -c 'python manage.py migrate && python manage.py ensure_s3_bucket && gunicorn portfolio.wsgi:application'

