services:
  - type: web
    name: portfolio
    env: python
    plan: free
    region: oregon
    buildCommand: |
      apt-get update && apt-get install -y build-essential libjpeg-dev zlib1g-dev
      pip install --upgrade pip
      pip install -r requirements.txt
      python manage.py collectstatic --noinput
      python manage.py migrate
    startCommand: gunicorn portfolio.wsgi:application --bind 0.0.0.0:10000
    envVars:
      - key: PYTHON_VERSION
        value: "3.13.0"

